.App {
  text-align: center;
}

.container {
  text-align: center;
  margin: auto;
  display: grid;
  width: 300px;
  grid-template-rows: 1ft;
  border-style: ridge;
  border-radius: 5px;
}

.item {
  border-style: groove;
  text-align: left;
  width: 280px;
  height: 60px;
  margin: 5px;
  margin-left: 10px;
  background-color: aquamarine;
  border-radius: 5px;
}

.text {
  margin-left: 5px;
}